@media screen and (max-width: 1024px) {

.grid{
    width: 25%;
}


}
@media screen and (max-width: 800px) {

.grid{
    width: 50%;
}


}
@media screen and (max-width: 501px) {

.grid{
    width: 100%;
}


}