.screen {
    min-height:550px;
}
@media screen and (max-width: 1024px) {

.grid{
    width: 25%;
}


}
@media screen and (max-width: 800px) {

.grid{
    width: 50%;
}


}
@media screen and (max-width: 501px) {

.grid{
    width: 100%;
}


}
.cocktailInfo_image_ingredient{
    width: 100px;
}
.cocktailInfo_image {
  width: 300px;
}

@media screen and (max-width: 370px) {

.cocktailInfo_image {
  width: 269px;
}
.cocktailInfo_image_ingredient{
    width: 76px;
}
}

@media screen and (min-width: 1025px) {
.cocktailInfo {
padding: 5px;
}
}