.nav {
    /*border: yellow solid 2px;
    width: 97%;*/
    /*display: flex;
    justify-content: space-around;
    /*flex-direction: row;*/
}
.menu {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
   /* text-shadow: 1px 1px 2px yellow, 0 0 1em, 0 0 0.2em white;
    /*color : #047b27;*/
}
.dark {
  background-color: /*#1f262d*/ #001529;
  color : white;
  transition-delay: 0.1s;
}
.search{
  margin-top: 15px;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.search_info {
  
 /* border: 2px blue solid;*/
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items:center;
}
.input {
  margin-bottom: 5px;
  
}
/*
.ant-menu-horizontal > .ant-menu-item > a{
  color : #047b27;
}
*/